echo "MX_GATEWAY_URL=https://gateway.multiversx.com
REDIS_URL=redis://localhost:6379
BINANCE_CONNECT_API_KEY=lHs57QDPrRSCUMManhMAtTq9tnAeew2Humhz9WYyOqjhjmkYK9Fi4bny0lIsBGWo
JWT_SECRET=h/5eGNd9LhWbpnDOjilZpvYTjmWTd1HPWyZWDFKpp7/Juzl5SoJjjXc7HO4jsGqy
9aCVmnB+sqlq4cgBGM2Ya7Hw4/EHybAed484uL16SG3kNdeXjzaXAaW2OgC467E5
ssjMmDmE5xyJFfUa5dLFljT/K1G7dcq4mx4ly4grTRbQkdy15IeVJP2iP7VGY7ut
EpOC/Nirq52q5bPo4xGx8xgzIVvVV5QhbcCyM10bAOLoCrCdzLSzldWwFdHqrSwM
mOo3HYi8yEhC8SKA+rLwVaQ/wRQ0XtpQLmSyAVh0Cq/zZQfQIbP4f1XR5k+eaHRm
kJQt1ogdIPYa0prLqk5yow==
ADMIN_WALLET_ADDRESS=erd1z6n4r0z7asncyxvfudhp9gn7kla3yuasqqqfmfkeggvpmyf2vhuq723hy9"
